#home {
	background: url(../Images/mysitebackground.jpeg) no-repeat 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
	height: auto;
	padding-top: 350px; /* This is spacer before the Main title Logo */
	padding-bottom: 500px; /* This is spacer before the Main title Logo */
	color: #fff;
}


@media (min width:500px) {
	.everything {
		width: 500px;
		height: 323px;
	}
}
@media (max width:499px) {
	.everything {
		width: 300px;
		height: 297px;
	}
}
